.App {
  /* text-align: center; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

}

.button {
  font-size: 1.2rem;
  background-color: #151616;
  color: white;
  border: 1px solid transparent;
}
.button:hover {
  background-color: #4C4C4D;
  border: 1px solid #7A7B7C;
}

/* keypad grid */

#parent1{
  grid-area: parent1;
}

#back{
  grid-area: back;
}

#parent2{
  grid-area: parent2;
}

#clear{
  grid-area: clear;
}

#seven{
  grid-area: seven;
}

#eight{
  grid-area: eight;
}

#subtract{
  grid-area: subtract;
}

#nine{
  grid-area: nine;
}

#four{
  grid-area: four;
}

#five{
  grid-area: five;
}

#six{
  grid-area: six;
}

#add{
  grid-area: add;
}

#one{
  grid-area: one;
}

#two{
  grid-area: two;
}

#three{
  grid-area: three;
}

#multiply{
  grid-area: multiply;
}

#decimal{
  grid-area: decimal;
}

#zero{
  grid-area: zero;
}

#divide{
  grid-area: divide;
}


#equals{
  grid-area: equals;
}


.keypad{
  /* background-color: #212223; */
  color: white;
  /* min-width: 300px;
  min-height: 350px; */
  /* padding: 0.5em;
  padding-top: 8em; */
  /* border: 2px solid #151616; */
  display: grid;
  grid-gap: 0.5em;
  grid-template-areas: 
    "back clear clear clear"
    "seven eight nine subtract"
    "four five six add"
    "one two three multiply"
    "parent1 decimal parent2 divide"
    "zero zero equals equals";
}

.calculator {
  background-color: #212223;
  color: white;
  min-width: 300px;
  min-height: 350px;
  padding: 0.5em;
  
  /* padding-top: 8em; */
  /* border: 2px solid #151616; */
  /* display: grid;
  grid-gap: 0.5em;
  grid-template-areas: 
    "parent1 back parent2 clear"
    "seven eight nine subtract"
    "four five six add"
    "one two three multiply"
    "decimal zero divide equals"; */
}

#display{
  text-align: right;
  font-size: 1.7rem;
  font-family: 'Poppins', sans-serif;
}

